[project]
	description = same-origin destroyer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pierce403
[access "refs/for/refs/*"]
	read = group user/pierce403
	push = group user/pierce403
	label-Code-Review = -2..+2 group user/pierce403
	label-Verified = -1..+1 group user/pierce403
	rebase = group user/pierce403
	removeReviewer = group user/pierce403
	submit = group user/pierce403
[access "refs/heads/*"]
	read = group user/pierce403
	create = group user/pierce403
	push = +force group user/pierce403
	pushMerge = group user/pierce403
[access "refs/tags/*"]
	push = +force group user/pierce403
	pushTag = group user/pierce403
	pushSignedTag = group user/pierce403
